<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @beacon.uuid %>
</p>

<p>
  <strong>Major:</strong>
  <%= @beacon.major %>
</p>

<p>
  <strong>Minor:</strong>
  <%= @beacon.minor %>
</p>

<p>
  <strong>Rssi:</strong>
  <%= @beacon.rssi %>
</p>

<p>
  <strong>Message:</strong>
  <%= @beacon.message %>
</p>

<%= link_to 'Edit', edit_beacon_path(@beacon) %> |
<%= link_to 'Back', beacons_path %>
