<p id="notice"><%= notice %></p>

<p>
  <strong>Beacon Major:</strong>
  <%= @checkin.beacon.major %>
</p>

<p>
  <strong>Beacon Message:</strong>
  <%= @checkin.beacon.message %>
</p>

<p>
  <strong>User:</strong>
  <%= @checkin.user_id %>
</p>

<p>
  <strong>Place:</strong>
  <%= @checkin.place_id %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @checkin.temperature %>
</p>

<%= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%= link_to 'Back', checkins_path %>
