<p id="notice"><%= notice %></p>

<p>
  <strong>Beacon:</strong>
  <%= @checkin.beacon_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @checkin.user_id %>
</p>

<p>
  <strong>Place:</strong>
  <%= @checkin.place_id %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @checkin.temperature %>
</p>

<%= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%= link_to 'Back', checkins_path %>
